.DS_Store
*.out*
*.iml
*.org.*.bindings.xml
*.edu.*.bindings.xml
*org.eclipse.wst*
dev-master.xml
.metadata/
*tenant-bindings.merged.xml
target
.settings
.classpath
.project
.idea/
.vscode
.cmax
.factorypath
m2-settings.xml
*.log
cspace-app-perflog.csv
