target/
/services/common-api/target/
/services/authentication/jaxb/target/
/services/authentication/service/target/
/services/jaxb/target/
/services/client/target/
/services/hyperjaxb/target/
/services/authorization/jaxb/target/
/services/authorization/service/target/
/services/common/target/
/services/authority/jaxb/target/
/services/person/jaxb/target/
/services/contact/client/target/
/services/contact/jaxb/target/
/services/person/client/target/
/services/blob/client/target/
/services/organization/jaxb/target/
/services/location/client/target/
/services/blob/service/target/
/services/location/jaxb/target/
/services/organization/client/target/
/services/taxonomy/jaxb/target/
/services/taxonomy/client/target/
/services/relation/service/target/
/services/relation/client/target/
/services/authority/service/target/
/services/authorization-mgt/client/target/
/services/account/jaxb/target/
/services/account/client/target/
/services/authorization-mgt/service/target/
/services/common-test/target/
/services/note/jaxb/target/
/services/note/client/target/
/services/note/service/target/
/services/acquisition/jaxb/target/
/services/acquisition/client/target/
/services/acquisition/service/target/
/services/vocabulary/jaxb/target/
/services/vocabulary/client/target/
/services/vocabulary/service/target/
/services/contact/service/target/
/services/id/service/target/
/services/id/client/target/
/services/collectionobject/jaxb/target/
/services/collectionobject/client/target/
/services/intake/jaxb/target/
/services/intake/client/target/
/services/intake/service/target/
/services/collectionobject/service/target/
/services/collectionobject/3rdparty/nuxeo-platform-cs-collectionobject/target/
/services/group/jaxb/target/
/services/group/client/target/
/services/group/service/target/
/services/loanin/jaxb/target/
/services/group/3rdparty/nuxeo-platform-cs-group/target/
/services/loanin/client/target/
/services/loanin/service/target/
/services/loanout/service/target/
/services/loanout/jaxb/target/
/services/loanout/3rdparty/nuxeo-platform-cs-loanout/target/
/services/loanout/client/target/
/services/objectexit/client/target/
/services/objectexit/jaxb/target/
/services/objectexit/service/target/
/services/batch/jaxb/target/
/services/batch/client/target/
/services/batch/service/target/
/services/imports/jaxb/target/
/services/batch/3rdparty/nuxeo-platform-cs-batch/target/
/services/imports/service/target/
/services/movement/jaxb/target/
/services/movement/client/target/
/services/movement/service/target/
/services/report/jaxb/target/
/services/report/client/target/
/services/dimension/jaxb/target/
/services/IntegrationTests/target/
/services/dimension/client/target/
/services/dimension/service/target/
/services/workflow/client/target/
/services/workflow/service/target/
/services/media/jaxb/target/
/services/media/client/target/
/services/media/service/target/
/services/JaxRsServiceProvider/target/
/services/PerformanceTests/target/
/services/security/client/target/
