<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BlobSuite">

  <test name="BlobScaleTest">
    <classes>
      <class name="org.collectionspace.services.client.test.BlobScaleTest"/>
    </classes>
  </test>

  <test name="BlobServiceTest">
    <classes>
      <class name="org.collectionspace.services.client.test.BlobServiceTest"/>
    </classes>
  </test>

  <test name="BlobAuthRefsTest">
    <classes>
      <class name="org.collectionspace.services.client.test.BlobAuthRefsTest"/>
    </classes>
  </test>
</suite>