<!--
    Document   : applicationContext-security.xml
    Created on :
    Author     :
    Copyright 2010 University of California at Berkeley
    Description:
        spring security namespace for CS service layer
        ref: http://blog.springsource.com/2010/03/06/behind-the-spring-security-namespace/

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        debugging tips : enable following categories in
        $JBOSS_HOME/server/cspace/conf/jboss-log4j.xml to priority DEBUG
        org.apache.catalina.core
        org.springframework.security
    -->

    <!-- Exclude the resource path to public items' content from AuthN and AuthZ.  Lets us publish resources with anonymous access. -->
    <sec:http pattern="/publicitems/*/*/content" security="none" />
    
    <!-- All other paths must be authenticated. -->
    <sec:http realm="org.collectionspace.services" create-session="stateless" authentication-manager-ref="authenticationManager">
        <sec:intercept-url pattern="/**" access="isFullyAuthenticated()" />
        <sec:http-basic />
        <sec:csrf disabled="true" />
    </sec:http>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="jaasAuthenticationProvider"/>
    </sec:authentication-manager>

    <bean id="jaasAuthenticationProvider"
          class="org.springframework.security.authentication.jaas.JaasAuthenticationProvider">
        <property name="loginContextName">
            <value>cspace</value> <!-- value should be same as in application-policy in JBoss login-config.xml -->
        </property>
        <property name="loginConfig">
            <value>/WEB-INF/login.conf</value>
        </property>
        <property name="callbackHandlers">
            <list>
                <bean class="org.springframework.security.authentication.jaas.JaasNameCallbackHandler"/>
                <bean class="org.springframework.security.authentication.jaas.JaasPasswordCallbackHandler"/>
            </list>
        </property>
        <property name="authorityGranters">
            <list>
                <bean class="org.collectionspace.authentication.spring.CSpaceAuthorityGranter"/>
            </list>
        </property>
    </bean>
</beans>
