<!--
    Document   : applicationContext-security.xml
    Created on :
    Author     :
    Copyright 2010 University of California at Berkeley
    Description:
        spring security namespace for CS service layer
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:s="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <s:http use-expressions="true">
        <s:intercept-url pattern="/**" access="permitAll" />
        <s:http-basic />
        <s:logout />
    </s:http>

    <s:authentication-manager>
        <s:authentication-provider ref="jaasAuthenticationProvider" user-service-ref="userDetailsService"/>
    </s:authentication-manager>

    <bean id="jaasAuthenticationProvider"
          class="org.springframework.security.authentication.jaas.JaasAuthenticationProvider">
        <property name="loginContextName">
            <value>cspace</value> <!-- value should be same as in application-policy in JBoss login-config.xml -->
        </property>
        <property name="loginConfig">
            <value>/WEB-INF/login.conf</value> <!-- filler, not used at runtime -->
        </property>
        <property name="callbackHandlers">
            <list>
                <bean class="org.springframework.security.authentication.jaas.JaasNameCallbackHandler"/>
                <bean class="org.springframework.security.authentication.jaas.JaasPasswordCallbackHandler"/>
            </list>
        </property>
        <property name="authorityGranters">
            <list>
                <bean class="org.collectionspace.authentication.spring.CSpaceAuthorityGranter"/>
            </list>
        </property>
    </bean>

    <bean id="userDetailsService" class="org.collectionspace.authentication.spring.CSpaceUserDetailsService">
    </bean>
</beans>
